In [1]:
import pandas as pd 
import numpy as np  
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("boston.csv")
data

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [4]:
data.describe()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,252.500000,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,146.213884,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.000000,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,126.250000,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,252.500000,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,378.750000,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,505.000000,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   CRIM        506 non-null    float64
 2   ZN          506 non-null    float64
 3   INDUS       506 non-null    float64
 4   CHAS        506 non-null    float64
 5   NOX         506 non-null    float64
 6   RM          506 non-null    float64
 7   AGE         506 non-null    float64
 8   DIS         506 non-null    float64
 9   RAD         506 non-null    float64
 10  TAX         506 non-null    float64
 11  PTRATIO     506 non-null    float64
 12  B           506 non-null    float64
 13  LSTAT       506 non-null    float64
 14  target      506 non-null    float64
dtypes: float64(14), int64(1)
memory usage: 59.4 KB

In [7]:
data.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [9]:
data["ZN"].replace(0,np.nan,inplace=True)
data["CHAS"].replace(0,np.nan,inplace=True)

In [10]:
data.isnull().sum()/len(data)*100

Unnamed: 0     0.000000
CRIM           0.000000
ZN            73.517787
INDUS          0.000000
CHAS          93.083004
NOX            0.000000
RM             0.000000
AGE            0.000000
DIS            0.000000
RAD            0.000000
TAX            0.000000
PTRATIO        0.000000
B              0.000000
LSTAT          0.000000
target         0.000000
dtype: float64

In [13]:
data.drop(["Unnamed: 0","ZN","CHAS"],axis=1,inplace=True)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   INDUS    506 non-null    float64
 2   NOX      506 non-null    float64
 3   RM       506 non-null    float64
 4   AGE      506 non-null    float64
 5   DIS      506 non-null    float64
 6   RAD      506 non-null    float64
 7   TAX      506 non-null    float64
 8   PTRATIO  506 non-null    float64
 9   B        506 non-null    float64
 10  LSTAT    506 non-null    float64
 11  target   506 non-null    float64
dtypes: float64(12)
memory usage: 47.6 KB

In [15]:
data.isnull().sum()/len(data)*100

CRIM       0.0
INDUS      0.0
NOX        0.0
RM         0.0
AGE        0.0
DIS        0.0
RAD        0.0
TAX        0.0
PTRATIO    0.0
B          0.0
LSTAT      0.0
target     0.0
dtype: float64

In [16]:
data.describe()

,CRIM,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [17]:
data.head()

,CRIM,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,2.31,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,7.07,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,7.07,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,2.18,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,2.18,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [19]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split (x,y,test_size=0.3,random_state=0)
print(x_train.shape)
print(x_test.shape)

(354, 11)
(152, 11)

In [21]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
sc_y=StandardScaler()
x_train =sc_x.fit_transform(x_train)
x_test=sc_x.fit_transform(x_test)

In [22]:
y_test

329    22.6
371    50.0
219    23.0
403     8.3
78     21.2
       ...
4      36.2
428    11.0
385     7.2
308    22.8
5      28.7
Name: target, Length: 152, dtype: float64

In [30]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=500,random_state=0)
model.fit(x_train,y_train)

RandomForestRegressor(n_estimators=500, random_state=0)

In [34]:
y_pred=model.predict(x_test)
y_pred

array([23.8174, 29.5072, 22.7198, 11.6386, 20.3396, 20.855 , 21.2948,
       28.331 , 19.861 , 19.6336, 10.055 , 15.2806, 16.444 ,  9.048 ,
       47.5828, 34.4542, 22.0052, 35.1452, 29.9446, 20.9982, 23.6786,
       21.4668, 19.6716, 25.8686, 28.1002, 18.1992, 19.3154, 16.4354,
       44.0912, 19.2202, 15.5616, 20.1246, 21.8284, 21.016 , 22.6942,
       20.2558,  8.645 , 29.4838, 14.549 , 15.6816, 23.4108, 23.4516,
       22.5454, 15.5874, 26.0532, 23.693 , 20.6434, 19.6984, 15.0208,
       25.1022, 19.6884, 20.2352, 20.7206, 41.0846, 16.8432, 20.7602,
       20.6494, 19.0594, 27.751 , 20.0406, 21.996 , 21.2162, 33.6342,
       31.4468, 20.575 , 29.8568, 17.0742, 18.6096, 18.1148, 21.7608,
       20.335 , 22.6734, 24.9936, 32.1004, 28.5292,  9.1358, 43.507 ,
       21.649 , 22.9342, 19.773 , 27.1358, 19.8138, 22.45  , 43.5124,
       42.5202, 23.9682, 22.939 , 15.687 , 27.2884, 16.7106, 19.2996,
       13.1578, 23.4172, 30.7634, 22.661 , 22.1922, 11.3394, 23.57  ,
       15.5264, 19.278 , 23.1536, 20.4686, 28.5988, 21.2452, 28.2182,
       21.0102,  9.0274, 18.7396, 21.8734, 24.061 , 35.6704, 13.604 ,
       18.8704, 19.163 , 17.5798, 20.8982, 10.4772, 19.9144, 10.8572,
       47.3524, 32.6224, 11.5342, 19.7434, 20.6422, 21.089 , 18.6452,
       38.3252, 19.0908, 20.6558, 33.8658, 14.3918, 12.2846, 15.423 ,
       21.1848, 13.5914, 35.3136, 21.237 , 15.0546, 27.325 ,  9.312 ,
       11.0428, 20.7368, 33.2908, 28.0986, 24.4346, 18.8124, 34.8442,
       34.179 , 12.0772,  8.8312, 29.828 , 29.4604])

In [42]:
from sklearn import metrics 
print("MAE",metrics.mean_absolute_error(y_test,y_pred))
print("MSE",metrics.mean_squared_error(y_test,y_pred))
print("RMSE",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))
print("Score",model.score(x_test,y_test))

MAE 2.728871052631585
MSE 17.0061539347369
RMSE 4.123851832296706
Score 0.7957599053771888

In [37]:
# Calculating the performance metrics
from sklearn import metrics
print("MAE", metrics.mean_absolute_error(y_test, y_pred))
print("MSE", metrics.mean_squared_error(y_test, y_pred))
print("RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("Score:", model.score(x_test, y_test))

MAE 2.728871052631585
MSE 17.0061539347369
RMSE 4.123851832296706
Score: 0.7957599053771888

In [47]:
from sklearn.metrics import confusion_matrix
model1=confusion_matrix(y_test,y_pred)
model1

ValueError: continuous is not supported

In [48]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [49]:
data=pd.read_csv("boston.csv")
data

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [50]:
data.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [53]:
data.describe()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,252.500000,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,146.213884,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.000000,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,126.250000,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,252.500000,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,378.750000,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,505.000000,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [55]:
data.isnull().sum()/len(data)*100

Unnamed: 0    0.0
CRIM          0.0
ZN            0.0
INDUS         0.0
CHAS          0.0
NOX           0.0
RM            0.0
AGE           0.0
DIS           0.0
RAD           0.0
TAX           0.0
PTRATIO       0.0
B             0.0
LSTAT         0.0
target        0.0
dtype: float64

In [ ]:
data.drop("agdjsgcs","khskc"),inplace=True

In [57]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
from sklearn.model_selection  import train_test_split 
x_train,x_test,y_train,y_test=train_test_split (x,y,test_size=0.3,random_state=0)
print(x_train.shape)
print(x_test.shape)

(354, 14)
(152, 14)

In [58]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
sc_y=StandardScaler()
x_train=sc_x.fit_transform(x_train)
x_test=sc_x.fit_transform(x_test)

In [59]:
y_test

329    22.6
371    50.0
219    23.0
403     8.3
78     21.2
       ...
4      36.2
428    11.0
385     7.2
308    22.8
5      28.7
Name: target, Length: 152, dtype: float64

In [62]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=500,random_state=0)
model.fit(x_train,y_train )

RandomForestRegressor(n_estimators=500, random_state=0)

In [63]:
y_pred=model.predict(x_test)
y_pred

array([23.6106, 29.1574, 22.8642, 11.5822, 20.3012, 21.1188, 21.3792,
       28.2128, 20.1098, 19.9174, 10.1672, 14.8612, 16.0312, 10.5904,
       47.6226, 34.5056, 21.9948, 35.2406, 30.1226, 21.1508, 23.5136,
       21.7544, 19.809 , 25.9762, 28.1818, 18.379 , 19.248 , 16.4694,
       44.2304, 19.0946, 16.2836, 19.9058, 22.0696, 21.3018, 22.7806,
       20.416 ,  8.8774, 29.1604, 14.4228, 16.3244, 23.3786, 23.1062,
       22.3916, 16.3958, 25.6852, 23.7162, 20.9562, 19.8412, 14.94  ,
       25.8636, 19.7   , 20.2024, 21.1224, 41.7102, 16.859 , 20.053 ,
       20.5228, 18.9982, 27.9128, 20.53  , 21.6974, 21.182 , 33.6764,
       31.4188, 20.4428, 30.0462, 16.5218, 18.0064, 17.0794, 21.9354,
       20.374 , 22.7954, 25.171 , 32.0064, 28.0542, 10.5278, 43.6286,
       21.8332, 23.1278, 19.99  , 27.6584, 20.0992, 22.5664, 43.5298,
       42.9268, 23.7042, 23.0896, 15.3626, 27.4904, 16.0202, 19.4244,
       13.1256, 23.5192, 31.22  , 22.9366, 22.4176, 12.206 , 23.7222,
       15.0746, 19.3688, 23.2544, 20.741 , 29.6234, 21.5024, 28.5516,
       20.417 ,  8.9502, 19.0296, 22.13  , 24.1764, 36.0998, 13.5362,
       18.2686, 19.1516, 17.2564, 21.0698, 10.2682, 20.1264, 10.7006,
       46.4688, 32.5106, 12.712 , 19.3332, 20.7532, 21.196 , 18.6886,
       38.5788, 19.8876, 21.0126, 34.4232, 14.1766, 12.2764, 15.531 ,
       21.5588, 13.6148, 35.4902, 21.5736, 15.4312, 28.1112,  9.1544,
       12.0886, 20.7872, 33.4096, 28.1378, 24.402 , 18.8416, 34.927 ,
       34.0778, 11.8996, 10.6362, 29.7358, 29.5808])

In [69]:
from sklearn import metrics
print("mae",metrics.mean_absolute_error(y_test,y_pred))
print("mse",metrics.mean_squared_error(y_test,y_pred))
print("rmse",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))
print("score:",model.score(x_test,y_test))

mae 2.7747631578947427
mse 17.58136542736847
rmse 4.193013883517257
score: 0.7888517443588863